{% extends '@App/documents/index.html.twig' %}

{% block title %}Statute of the ICTY{% endblock %}

{% block document %}
    <p id="s-1"><b>UNITED<br>
            NATIONS</b></p>
    <hr>

    <div class="row">
        <div class="col-md-1">
            {% image '@AppBundle/Resources/public/img/unlogo.png' %}
            <img src="{{ asset_url }}" class="img-responsive" alt="UN Logo">
            {% endimage %}
        </div>
        <div class="col-md-5">
            <p>International Tribunal for the Prosecution of Persons
                Responsible for Serious Violations of International
                Humanitarian Law Committed in the Territory of the Former
                Yugoslavia since 1991</p>
        </div>
        <div class="col-md-2">
            <p>Date:</p>

            <p>Original</p>
        </div>
        <div class="col-md-4">
            <p>September 2009</p>

            <p>English &amp; French</p>
        </div>
    </div>

    <hr>

    <h2 id="s-2" class="text-center">UPDATED STATUTE<br>
        OF THE INTERNATIONAL<br>
        CRIMINAL TRIBUNAL FOR<br>
        THE FORMER YUGOSLAVIA</h2>

    <p id="s-3" class="text-center"><b>(ADOPTED 25 MAY 1993 BY RESOLUTION
            827)<br>
            (AS AMENDED 13 MAY 1998 BY RESOLUTION 1166)<br>
            (AS AMENDED 30 NOVEMBER 2000 BY RESOLUTION 1329)<br>
            (AS AMENDED 17 MAY 2002 BY RESOLUTION 1411)<br>
            (AS AMENDED 14 AUGUST 2002 BY RESOLUTION 1431)<br>
            (AS AMENDED 19 MAY 2003 BY RESOLUTION 1481)<br>
            (AS AMENDED 20 APRIL 2005 BY RESOLUTION 1597)<br>
            (AS AMENDED 28 FEBRUARY 2006 BY RESOLUTION 1660)<br>
            (AS AMENDED 29 SEPTEMBER 2008 BY RESOLUTION 1837)<br>
            (AS AMENDED 7 JULY 2009 BY RESOLUTION 1877)</b></p>

    <p id="s-4" class="text-center"><b>ICTY RELATED RESOLUTIONS:<br>
            Resolution 1503 of 28 August 2003<br>
            Resolution 1504 of 4 September 2003<br>
            Resolution 1534 of 26 March 2004<br>
            Resolution 1581 of 18 January 2005<br>
            Resolution 1613 of 26 July 2005<br>
            Resolution 1629 of 30 September 2005<br>
            Resolution 1668 of 10 April 2006<br>
            Resolution 1775 of 14 September 2007<br>
            Resolution 1786 of 28 November 2007<br>
            Resolution 1800 of 20 February 2008<br></b></p>

    <p id="s-5">(Not an official document. This compilation is based on
        original United Nations resolutions.)</p>

    <p id="s-6" class="text-center"><b>UPDATED STATUTE<br>
            OF THE INTERNATIONAL CRIMINAL TRIBUNAL FOR THE FORMER
            YUGOSLAVIA</b></p>

    <p id="s-7" class="text-center">(ADOPTED 25 MAY 1993 BY RESOLUTION 827)
        (AS AMENDED 13 MAY 1998 BY RESOLUTION 1166) (AS AMENDED 30
        NOVEMBER 2000 BY RESOLUTION 1329) (AS AMENDED 17 MAY 2002 BY
        RESOLUTION 1411) (AS AMENDED 14 AUGUST 2002 BY RESOLUTION 1431)
        (AS AMENDED 19 MAY 2003 BY RESOLUTION 1481) (AS AMENDED 20
        APRIL 2005 BY RESOLUTION 1597) (AS AMENDED 28 FEBRUARY 2006 BY
        RESOLUTION 1660) (AS AMENDED 29 SEPTEMBER 2008 BY RESOLUTION
        1837) (AS AMENDED 7 JULY 2009 BY RESOLUTION 1877)</p>

    <p id="s-8"><b></b></p>

    <p class="text-center"><b>UPDATED STATUTE OF THE INTERNATIONAL CRIMINAL TRIBUNAL
            FOR THE FORMER YUGOSLAVIA </b></p>

    <p class="text-center"><b> TABLE OF CONTENTS </b></p>

    <p><a href="#s-13"> Article 1 Competence of the International Tribunal </a></p>
    <p><a href="#s-15">Article 2 Grave breaches of the Geneva Conventions of 1949 </a></p>
    <p><a href="#s-18">Article 3 Violations of the laws or customs of war </a></p>
    <p><a href="#s-21">Article 4 Genocide </a></p>
    <p><a href="#s-25">Article 5 Crimes against humanity </a></p>
    <p><a href="#s-28">Article 6 Personal jurisdiction </a></p>
    <p><a href="#s-30">Article 7 Individual criminal responsibility </a></p>
    <p><a href="#s-32">Article 8 Territorial and temporal jurisdiction</a></p>
    <p><a href="#s-34">Article 9 Concurrent jurisdiction </a></p>
    <p><a href="#s-36">Article 10 Non-bis-in-idem </a></p>
    <p><a href="#s-39">Article 11 Organization of the International Tribunal </a></p>
    <p><a href="#s-42">Article 12 Composition of the Chambers </a></p>
    <p><a href="#s-44">Article 13 Qualifications of judges </a></p>
    <p><a href="#s-46">Article 13 bisElection of permanent judges </a></p>
    <p><a href="#s-49">Article 13 terElection and appointment of ad litem judges </a></p>
    <p><a href="#s-52">Article 13 quaterStatus of ad litem judges </a></p>
    <p><a href="#s-58">Article 14 Officers and members of the Chambers </a></p>
    <p><a href="#s-60">Article 15 Rules of procedure and evidence </a></p>
    <p><a href="#s-62">Article 16 The Prosecutor </a></p>
    <p><a href="#s-64">Article 17 The Registry </a></p>
    <p><a href="#s-66">Article 18 Investigation and preparation of indictment </a></p>
    <p><a href="#s-68">Article 19 Review of the indictment </a></p>
    <p><a href="#s-70">Article 20 Commencement and conduct of trial proceedings </a></p>
    <p><a href="#s-72">Article 21 Rights of the accused </a></p>
    <p><a href="#s-75">Article 22 Protection of victims and witnesses </a></p>
    <p><a href="#s-77">Article 23 Judgement </a></p>
    <p><a href="#s-79">Article 24 Penalties </a></p>
    <p><a href="#s-81">Article 25 Appellate proceedings </a></p>
    <p><a href="#s-84">Article 26 Review proceedings </a></p>
    <p><a href="#s-86">Article 27 Enforcement of sentences </a></p>
    <p><a href="#s-88">Article 28 Pardon or commutation of sentences </a></p>
    <p><a href="#s-90">Article 29 Co-operation and judicial assistance </a></p>
    <p><a href="#s-93">Article 30 The status, privileges and immunities of the International Tribunal </a></p>
    <p><a href="#s-95">Article 31 Seat of the International Tribunal </a></p>
    <p><a href="#s-97">Article 32 Expenses of the International Tribunal </a></p>
    <p><a href="#s-99">Article 33 Working languages </a></p>
    <p><a href="#s-101">Article 34 </a></p>



















    <p id="s-9"><b>Annual report</b></p>

    <p id="s-10" class="text-center"><b>UPDATED STATUTE OF THE INTERNATIONAL
            CRIMINAL TRIBUNAL<br>
            FOR THE FORMER YUGOSLAVIA</b></p>

    <p id="s-11" class="text-center">(ADOPTED 25 MAY 1993 BY RESOLUTION 827)
        (AS AMENDED 13 MAY 1998 BY RESOLUTION 1166) (AS AMENDED 30
        NOVEMBER 2000 BY RESOLUTION 1329) (AS AMENDED 17 MAY 2002 BY
        RESOLUTION 1411) (AS AMENDED 14 AUGUST 2002 BY RESOLUTION 1431)
        (AS AMENDED 19 MAY 2003 BY RESOLUTION 1481) (AS AMENDED 20
        APRIL 2005 BY RESOLUTION 1597) (AS AMENDED 28 FEBRUARY 2006 BY
        RESOLUTION 1660) (AS AMENDED 29 SEPTEMBER 2008 BY RESOLUTION
        1837) (AS AMENDED 7 JULY 2009 BY RESOLUTION 1877)</p>

    <p id="s-12" class="text-center">Having been established by the Security
        Council acting under Chapter VII of the Charter of the United
        Nations, the International Tribunal for the Prosecution of
        Persons Responsible for Serious Violations of International
        Humanitarian Law Committed in the Territory of the Former
        Yugoslavia since 1991 (hereinafter referred to as “the
        International Tribunal”) shall function in accordance with the
        provisions of the present Statute.</p>

    <p id="s-13" class="text-center"><b>Article 1 Competence of the
            International Tribunal</b></p>

    <p id="s-14">The International Tribunal shall have the power to prosecute
        persons responsible for serious violations of international
        humanitarian law committed in the territory of the former
        Yugoslavia since 1991 in accordance with the provisions of the
        present Statute.</p>

    <p id="s-15" class="text-center"><b>Article 2 Grave breaches of the
            Geneva Conventions of 1949</b></p>

    <p id="s-16">The International Tribunal shall have the power to prosecute
        persons committing or ordering to be committed grave breaches
        of the Geneva Conventions of 12 August 1949, namely the
        following acts against persons or property protected under the
        provisions of the relevant Geneva Convention:</p>

    <ol id="s-17" type="a">
        <li>wilful killing;</li>

        <li>torture or inhuman treatment, including biological
            experiments;
        </li>

        <li>wilfully causing great suffering or serious injury to
            body or health;
        </li>

        <li>extensive destruction and appropriation of property, not
            justified by military necessity and carried out unlawfully
            and wantonly;
        </li>

        <li>compelling a prisoner of war or a civilian to serve in
            the forces of a hostile power;
        </li>

        <li>wilfully depriving a prisoner of war or a civilian of the
            rights of fair and regular trial;
        </li>

        <li>unlawful deportation or transfer or unlawful confinement
            of a civilian;
        </li>

        <li>taking civilians as hostages.</li>
    </ol>

    <p id="s-18" class="text-center"><b>Article 3 Violations of the laws or
            customs of war</b></p>

    <p id="s-19" class="text-center">The International Tribunal shall have
        the power to prosecute persons violating the laws or customs of
        war. Such violations shall include, but not be limited to:</p>

    <ol id="s-20" type="a">
        <li>employment of poisonous weapons or other weapons
            calculated to cause unnecessary suffering;
        </li>

        <li>wanton destruction of cities, towns or villages, or
            devastation not justified by military necessity;
        </li>

        <li>attack, or bombardment, by whatever means, of undefended
            towns, villages, dwellings, or buildings;
        </li>

        <li>seizure of, destruction or wilful damage done to
            institutions dedicated to religion, charity and education,
            the arts and sciences, historic monuments and works of art
            and science;
        </li>

        <li>plunder of public or private property.</li>
    </ol>

    <p id="s-21" class="text-center"><b>Article 4 Genocide</b></p>

    <ol id="s-22" type="1">
        <li>The International Tribunal shall have the power to
            prosecute persons committing genocide as defined in paragraph
            2 of this article or of committing any of the other acts
            enumerated in paragraph 3 of this article.
        </li>

        <li>Genocide means any of the following acts committed with
            intent to destroy, in whole or in part, a national, ethnical,
            racial or religious group, as such:

            <ol id="s-23" type="a">
                <li>killing members of the group;</li>

                <li>causing serious bodily or mental harm to members of
                    the group;
                </li>

                <li>deliberately inflicting on the group conditions of
                    life calculated to bring about its physical destruction
                    in whole or in part;
                </li>

                <li>imposing measures intended to prevent births within
                    the group;
                </li>

                <li>forcibly transferring children of the group to
                    another group.
                </li>
            </ol>
        </li>

        <li>The following acts shall be punishable:

            <ol id="s-24" type="a">
                <li>genocide;</li>

                <li>conspiracy to commit genocide;</li>

                <li>direct and public incitement to commit genocide;</li>

                <li>attempt to commit genocide;</li>

                <li>complicity in genocide.</li>
            </ol>
        </li>
    </ol>

    <p id="s-25" class="text-center"><b>Article 5 Crimes against
            humanity</b></p>

    <p id="s-26">The International Tribunal shall have the power to prosecute
        persons responsible for the following crimes when committed in
        armed conflict, whether international or internal in character,
        and directed against any civilian population:</p>

    <ol id="s-27" type="a">
        <li>murder;</li>

        <li>extermination;</li>

        <li>enslavement;</li>

        <li>deportation;</li>

        <li>imprisonment;</li>

        <li>torture;</li>

        <li>rape;</li>

        <li>persecutions on political, racial and religious
            grounds;
        </li>

        <li>other inhumane acts.</li>
    </ol>

    <p id="s-28" class="text-center"><b>Article 6 Personal
            jurisdiction</b></p>

    <p id="s-29">The International Tribunal shall have jurisdiction over
        natural persons pursuant to the provisions of the present
        Statute.</p>

    <p id="s-30" class="text-center"><b>Article 7 Individual criminal
            responsibility</b></p>

    <ol id="s-31" type="1">
        <li>A person who planned, instigated, ordered, committed or
            otherwise aided and abetted in the planning, preparation or
            execution of a crime referred to in articles 2 to 5 of the
            present Statute, shall be individually responsible for the
            crime.
        </li>

        <li>The official position of any accused person, whether as
            Head of State or Government or as a responsible Government
            official, shall not relieve such person of criminal
            responsibility nor mitigate punishment.
        </li>

        <li>The fact that any of the acts referred to in articles 2
            to 5 of the present Statute was committed by a subordinate
            does not relieve his superior of criminal responsibility if
            he knew or had reason to know that the subordinate was about
            to commit such acts or had done so and the superior failed to
            take the necessary and reasonable measures to prevent such
            acts or to punish the perpetrators thereof.
        </li>

        <li>The fact that an accused person acted pursuant to an
            order of a Government or of a superior shall not relieve him
            of criminal responsibility, but may be considered in
            mitigation of punishment if the International Tribunal
            determines that justice so requires.
        </li>
    </ol>

    <p id="s-32" class="text-center"><b>Article 8 Territorial and temporal
            jurisdiction</b></p>

    <p id="s-33">The territorial jurisdiction of the International Tribunal
        shall extend to the territory of the former Socialist Federal
        Republic of Yugoslavia, including its land surface, airspace
        and territorial waters. The temporal jurisdiction of the
        International Tribunal shall extend to a period beginning on 1
        January 1991.</p>

    <p id="s-34" class="text-center"><b>Article 9 Concurrent
            jurisdiction</b></p>

    <ol id="s-35" type="1">
        <li>The International Tribunal and national courts shall have
            concurrent jurisdiction to prosecute persons for serious
            violations of international humanitarian law committed in the
            territory of the former Yugoslavia since 1 January 1991.
        </li>

        <li>The International Tribunal shall have primacy over
            national courts. At any stage of the procedure, the
            International Tribunal may formally request national courts
            to defer to the competence of the International Tribunal in
            accordance with the present Statute and the Rules of
            Procedure and Evidence of the International Tribunal.
        </li>
    </ol>

    <p id="s-36" class="text-center"><b>Article 10 Non-bis-in-idem</b></p>

    <ol id="s-37" type="1">
        <li>No person shall be tried before a national court for acts
            constituting serious violations of international humanitarian
            law under the present Statute, for which he or she has
            already been tried by the International Tribunal.
        </li>

        <li>A person who has been tried by a national court for acts
            constituting serious violations of international humanitarian
            law may be subsequently tried by the International Tribunal
            only if:

            <ol id="s-38" type="a">
                <li>the act for which he or she was tried was
                    characterized as an ordinary crime; or
                </li>

                <li>the national court proceedings were not impartial or
                    independent, were designed to shield the accused from
                    international criminal responsibility, or the case was
                    not diligently prosecuted.
                </li>
            </ol>
        </li>

        <li>In considering the penalty to be imposed on a person
            convicted of a crime under the present Statute, the
            International Tribunal shall take into account the extent to
            which any penalty imposed by a national court on the same
            person for the same act has already been served.
        </li>
    </ol><!--TS Beginn-->

    <p id="s-39" class="text-center"><b>Article 11 Organization of the
            International Tribunal</b></p>

    <p id="s-40">The International Tribunal shall consist of the following
        organs:</p><!-- Aufzählungszeichen im Original (a)-->

    <ol id="s-41" type="a">
        <li>the Chambers, comprising three Trial Chambers and an
            Appeals Chamber;
        </li>

        <li>the Prosecutor; and</li>

        <li>Registry, servicing both the Chambers and the
            Prosecutor.
        </li>
    </ol>

    <p id="s-42" class="text-center"><b>Article 12 Composition of the
            Chambers</b></p>

    <ol id="s-43">
        <li>The Chambers shall be composed of a maximum of sixteen
            permanent independent judges, no two of whom may be nationals
            of the same State, and a maximum at any one time of twelve
            <i>ad litem</i> independent judges appointed in accordance
            with article 13 <i>ter</i>), paragraph 2, of the Statute, no
            two of whom may be nationals of the same State.
        </li>

        <li>A maximum at any one time of three permanent judges and
            six <i>ad litem</i>) judges shall be members of each Trial
            Chamber. Each Trial Chamber to which <i>ad litem</i> judges
            are assigned may be divided into sections of three judges
            each, composed of both permanent and <i>ad litem</i> judges,
            except in the circumstances specified in paragraph 5 below. A
            section of a Trial Chamber shall have the same powers and
            responsibilities as a Trial Chamber under the Statute and
            shall render judgement in accordance with the same
            rules.
        </li>

        <li>Seven of the permanent judges shall be members of the
            Appeals Chamber. The Appeals Chamber shall, for each appeal,
            be composed of five of its members.
        </li>

        <li>A person who for the purposes of membership of the
            Chambers of the International Tribunal could be regarded as a
            national of more than one State shall be deemed to be a
            national of the State in which that person ordinarily
            exercises civil and political rights.
        </li>

        <li>The Secretary-General may, at the request of the
            President of the International Tribunal appoint, from among
            the <i>ad litem</i> judges elected in accordance with Article
            13 <i>ter</i>, reserve judges to be present at each stage of
            a trial to which they have been appointed and to replace a
            judge if that judge is unable to continue sitting.
        </li>

        <li>Without prejudice to paragraph 2 above, in the event that
            exceptional circumstances require for a permanent judge in a
            section of a Trial Chamber to be replaced resulting in a
            section solely comprised of <i>ad litem</i> judges, that
            section may continue to hear the case, notwithstanding that
            its composition no longer includes a permanent judge.
        </li>
    </ol>

    <p id="s-44" class="text-center"><b>Article 13 Qualifications of
            judges</b></p>

    <p id="s-45">The permanent and ad litem judges shall be persons of high
        moral character, impartiality and integrity who possess the
        qualifications required in their respective countries for
        appointment to the highest judicial offices. In the overall
        composition of the Chambers and sections of the Trial Chambers,
        due account shall be taken of the experience of the judges in
        criminal law, international law, including international
        humanitarian law and human rights law.</p>

    <p id="s-46" class="text-center"><b>Article 13 <i>bis</i> Election of
            permanent judges</b></p>

    <ol id="s-47">
        <li>Fourteen of the permanent judges of the International
            Tribunal shall be elected by the General Assembly from a list
            submitted by the Security Council, in the following manner:
            <!-- Aufzählungszeichen im Original (a)-->

            <ol id="s-48" type="a">
                <li>The Secretary-General shall invite nominations for
                    judges of the International Tribunal from States Members
                    of the United Nations and non-member States maintaining
                    permanent observer missions at United Nations
                    Headquarters;
                </li>

                <li>Within sixty days of the date of the invitation of
                    the Secretary-General, each State may nominate up to two
                    candidates meeting the qualifications set out in article
                    13 of the Statute, no two of whom shall be of the same
                    nationality and neither of whom shall be of the same
                    nationality as any judge who is a member of the Appeals
                    Chamber and who was elected or appointed a permanent
                    judge of the International Criminal Tribunal for the
                    Prosecution of Persons Responsible for Genocide and Other
                    Serious Violations of International Humanitarian Law
                    Committed in the Territory of Rwanda and Rwandan Citizens
                    Responsible for Genocide and Other Such Violations
                    Committed in the Territory of Neighbouring States,
                    between 1 January 1994 and 31 December 1994 (hereinafter
                    referred to as “The International Tribunal for Rwanda”)
                    in accordance with article 12 bis of the Statute of that
                    Tribunal;
                </li>

                <li>The Secretary-General shall forward the nominations
                    received to the Security Council. From the nominations
                    received the Security Council shall establish a list of
                    not less than twenty-eight and not more than forty-two
                    candidates, taking due account of the adequate
                    representation of the principal legal systems of the
                    world;
                </li>

                <li>The President of the Security Council shall transmit
                    the list of candidates to the President of the General
                    Assembly. From that list the General Assembly shall elect
                    fourteen permanent judges of the International Tribunal.
                    The candidates who receive an absolute majority of the
                    votes of the States Members of the United Nations and of
                    the non-member States maintaining permanent observer
                    missions at United Nations Headquarters, shall be
                    declared elected. Should two candidates of the same
                    nationality obtain the required majority vote, the one
                    who received the higher number of votes shall be
                    considered elected.
                </li>
            </ol>
        </li>

        <li>In the event of a vacancy in the Chambers amongst the
            permanent judges elected or appointed in accordance with this
            article, after consultation with the Presidents of the
            Security Council and of the General Assembly, the
            Secretary-General shall appoint a person meeting the
            qualifications of article 13 of the Statute, for the
            remainder of the term of office concerned.
        </li>

        <li>The permanent judges elected in accordance with this
            article shall be elected for a term of four years. The terms
            and conditions of service shall be those of the judges of the
            International Court of Justice. They shall be eligible for
            re-election.
        </li>
    </ol><!-- Beginn Dmytro-->
    <!-- HEADING FOR ARTICLE 13 TER -->

    <p id="s-49" class="text-center"><b>Article 13 <i>ter</i> Election and
            appointment of <i>ad litem</i> judges</b></p>

    <ol id="s-50" type="1">
        <!-- Creates numbered list for Article 13 -->
        <!-- Article 13 ter #1 -->

        <li>The <i>ad litem</i> judges of the International Tribunal
            shall be elected by the General Assembly from a list
            submitted by the Security Council, in the following manner:

            <ol id="s-51" type="a">
                <!-- Creates lettered sub-paragraphs for Article 13 ter #1 -->

                <li>The Secretary-General shall invite nominations for
                    <i>ad litem</i> judges of the International Tribunal from
                    States Members of the United Nations and non-member
                    States maintaining permanent observer missions at United
                    Nations Headquarters.
                </li>

                <li>Within sixty days of the date of the invitation of
                    the Secretary-General, each State may nominate up to four
                    candidates meeting the qualifications set out in article
                    13 of the Statute, taking into account the importance of
                    a fair representation of female and male candidates.
                </li>

                <li>The Secretary-General shall forward the nominations
                    received to the Security Council. From the nominations
                    received the Security Council shall establish a list of
                    not less than fifty-four candidates, taking due account
                    of the adequate representation of the principal legal
                    systems of the world and bearing in mind the importance
                    of equitable geographical distribution.
                </li>

                <li>The President of the Security Council shall transmit
                    the list of candidates to the President of the General
                    Assembly. From that list the General Assembly shall elect
                    the twenty-seven <i>ad litem</i> judges of the
                    International Tribunal. The candidates who receive an
                    absolute majority of the votes of the States Members of
                    the United Nations and of the non-member States
                    maintaining permanent observer missions at United Nations
                    Headquarters shall be declared elected.
                </li>

                <li>The <i>ad litem</i> judges shall be elected for a
                    term of four years. They shall be eligible for
                    re-election.
                </li>
            </ol>
            <!-- Ends letter sub-paragraphs fro Article 13 ter #1 -->
        </li>
        <!-- Ends Article 13 ter #1 -->
        <!-- Article 13 ter #2 -->

        <li>During any term, <i>ad litem</i> judges will be appointed
            by the Secretary-General, upon request of the President of
            the International Tribunal, to serve in the Trial Chambers
            for one or more trials, for a cumulative period of up to, but
            not including, three years. When requesting the appointment
            of any particular <i>ad litem</i> judge, the President of the
            International Tribunal shall bear in mind the criteria set
            out in article 13 of the Statute regarding the composition of
            the Chambers and sections of the Trial Chambers, the
            considerations set out in paragraphs 1 (b) and (c) above and
            the number of votes the <i>ad litem</i> judge received in the
            General Assembly.
        </li>
        <!-- Ends Article 13 ter #2 -->
    </ol><!-- Ends numbered list for Article 13 -->
    <!-- HEADING FOR ARTICLE 13 QUATER -->

    <p id="s-52" class="text-center"><b>Article 13 <i>quater</i> Status of
            <i>ad litem</i> judges</b></p>

    <ol id="s-53" type="1">
        <!-- // Creates list for Article 13 quater -->
        <!-- // Article 13 quater #1 -->

        <li>During the period in which they are appointed to serve in
            the International Tribunal, <i>ad litem</i> judges shall:

            <ol id="s-54" type="a">
                <!-- Creates lettered sub-paragraphs for Article 13 quater 1 -->

                <li>Benefit from the same terms and conditions of service
                    <i>mutatis mutandis</i> as the permanent judges of the
                    International Tribunal;
                </li>

                <li>Enjoy, subject to paragraph 2 below, the same powers
                    as the permanent judges of the International
                    Tribunal;
                </li>

                <li>Enjoy the privileges and immunities, exemptions and
                    facilities of a judge of the International Tribunal;
                </li>

                <li>Enjoy the power to adjudicate in pre-trial
                    proceedings in cases other than those that they have been
                    appointed to try.
                </li>
            </ol>
            <!-- Ends lettered sub-paragraphs for Article 13 quater #1 -->
        </li>
        <!-- // Ends Article 13 quater #1 -->
        <!-- // Item #2 -->

        <li>During the period in which they are appointed to serve in
            the International Tribunal, <i>ad litem</i> judges shall not:

            <ol id="s-55" type="a">
                <!-- Creates lettered sub-paragraphs for Article 13 quater #2 -->

                <li>Be eligible for election as, or to vote in the
                    election of, the President of the Tribunal or the
                    Presiding Judge of a Trial Chamber pursuant to article 14
                    of the Statute;
                </li>

                <li>Have power:

                    <ol id="s-56" type="i">
                        <!-- Creates roman numeral sub-paragraphs for Article 13 quater #2(b) -->

                        <li>To adopt rules of procedure and evidence pursuant
                            to article 15 of the Statute. They shall, however, be
                            consulted before the adoption of those rules;
                        </li>

                        <li>To review an indictment pursuant to article 19 of
                            the Statute;
                        </li>

                        <li>To consult with the President in relation to the
                            assignment of judges pursuant to article 14 of the
                            Statute or in relation to a pardon or commutation of
                            sentence pursuant to article 28 of the Statute.
                        </li>
                    </ol>
                    <!-- Ends roman numeral sub-paragraphs for Article 13 quater #2(b) -->
                </li>
            </ol>
            <!-- Ends lettered sub-paragraphs for Article 13 quater #2; There is only sub-paragraph (a) -->
        </li>
        <!-- // End of Item #2 -->
        <!-- Item #3 -->

        <li>Notwithstanding, paragraphs 1 and 2 above, an <i>ad
                litem</i> judge who is serving as a reserve judge shall,
            during such time as he or she so serves:

            <ol id="s-57" type="a">
                <!-- Creates lettered sub-paragraphs for Article 13 quater #3 -->

                <li>Benefit from the same terms and conditions of service
                    <i>mutatis mutandis</i> as the permanent judges of the
                    International Tribunal;
                </li>

                <li>Enjoy the privileges and immunities, exemptions and
                    facilities of a judge of the International Tribunal;
                </li>

                <li>Enjoy the power to adjudicate in pre-trial
                    proceedings in cases other than those that they have been
                    appointed to and for that purpose to enjoy subject to
                    paragraph 2 above, the same powers as permanent
                    judges.
                </li>
            </ol>
            <!-- Ends lettered sub-paragraphs for Article 13 quater #3 -->
        </li>
        <!-- End of Item #3 -->
        <!-- Item #4 -->

        <li>In the event that a reserve judge replaces a judge who is
            unable to continue sitting, he or she will, as of that time,
            benefit from the provisions of paragraph 1 above.
        </li>
        <!-- End of Item #4 -->
    </ol><!-- //End of list for Article 13 quater -->
    <!-- Beginn Johannes -->

    <p id="s-58" class="text-center"><b>Article 14 Officers and members of
            the Chambers</b></p>

    <ol id="s-59" type="1">
        <li>The permanent judges of the International Tribunal shall
            elect a President from amongst their number.
        </li>

        <li>The President of the International Tribunal shall be a
            member of the Appeals Chamber and shall preside over its
            proceedings.
        </li>

        <li>After consultation with the permanent judges of the
            International Tribunal, the President shall assign four of
            the permanent judges elected or appointed in accordance with
            article 13 <i>bis</i> of the Statute to the Appeals Chamber
            and nine to the Trial Chambers. Notwithstanding the
            provisions of article 12, paragraph 1, and article 12,
            paragraph 3, the President may assign to the Appeals Chamber
            up to four additional permanent judges serving in the Trial
            Chambers, on the completion of the cases to which each judge
            is assigned. The term of office of each judge redeployed to
            the Appeals Chamber shall be the same as the term of office
            of the judges serving in the Appeals Chamber.
        </li>

        <li>Two of the permanent judges of the International Tribunal
            for Rwanda elected or appointed in accordance with article 12
            <i>bis</i> of the Statute of that Tribunal shall be assigned
            by the President of that Tribunal, in consultation with the
            President of the International Tribunal, to be members of the
            Appeals Chamber and permanent judges of the International
            Tribunal. Notwithstanding the provisions of article 12,
            paragraph 1, and article 12, paragraph 3, up to four
            additional permanent judges serving in the Trial Chambers of
            the International Criminal Tribunal for Rwanda may be
            assigned to the Appeals Chamber by the President of that
            Tribunal, on the completion of the cases to which each judge
            is assigned. The term of office of each judge redeployed to
            the Appeals Chamber shall be the same as the term of office
            of the judges serving in the Appeals Chamber.
        </li>

        <li>After consultation with the permanent judges of the
            International Tribunal, the President shall assign such <i>ad
                litem</i> judges as may from time to time be appointed to
            serve in the International Tribunal to the Trial
            Chambers.
        </li>

        <li>A judge shall serve only in the Chamber to which he or
            she was assigned.
        </li>

        <li>The permanent judges of each Trial Chamber shall elect a
            Presiding Judge from amongst their number, who shall oversee
            the work of the Trial Chamber as a whole.
        </li>
    </ol>

    <p id="s-60" class="text-center"><b>Article 15 Rules of procedure and
            evidence</b></p>

    <p id="s-61">The judges of the International Tribunal shall adopt rules
        of procedure and evidence for the conduct of the pre-trial
        phase of the proceedings, trials and appeals, the admission of
        evidence, the protection of victims and witnesses and other
        appropriate matters.</p>

    <p id="s-62" class="text-center"><b>Article 16 The Prosecutor</b></p>

    <ol id="s-63" type="1">
        <li>The Prosecutor shall be responsible for the investigation
            and prosecution of persons responsible for serious violations
            of international humanitarian law committed in the territory
            of the former Yugoslavia since 1 January 1991.
        </li>

        <li>The Prosecutor shall act independently as a separate
            organ of the International Tribunal. He or she shall not seek
            or receive instructions from any Government or from any other
            source.
        </li>

        <li>The Office of the Prosecutor shall be composed of a
            Prosecutor and such other qualified staff as may be
            required.
        </li>

        <li>The Prosecutor shall be appointed by the Security Council
            on nomination by the Secretary-General. He or she shall be of
            high moral character and possess the highest level of
            competence and experience in the conduct of investigations
            and prosecutions of criminal cases. The Prosecutor shall
            serve for a four-year term and be eligible for reappointment.
            The terms and conditions of service of the Prosecutor shall
            be those of an Under-Secretary-General of the United
            Nations.
        </li>

        <li>The staff of the Office of the Prosecutor shall be
            appointed by the Secretary-General on the recommendation of
            the Prosecutor.
        </li>
    </ol>

    <p id="s-64" class="text-center"><b>Article 17 The Registry</b></p>

    <ol id="s-65" type="1">
        <li>The Registry shall be responsible for the administration
            and servicing of the International Tribunal.
        </li>

        <li>The Registry shall consist of a Registrar and such other
            staff as may be required.
        </li>

        <li>The Registrar shall be appointed by the Secretary-General
            after consultation with the President of the International
            Tribunal. He or she shall serve for a four-year term and be
            eligible for reappointment. The terms and conditions of
            service of the Registrar shall be those of an Assistant
            Secretary-General of the United Nations.
        </li>

        <li>The staff of the Registry shall be appointed by the
            Secretary-General on the recommendation of the
            Registrar.
        </li>
    </ol><!-- Beginn Julia -->

    <p id="s-66" class="text-center"><b>Article 18 Investigation and
            preparation of indictment</b></p>

    <ol id="s-67" type="1">
        <li>The Prosecutor shall initiate investigations
            <i>ex-officio</i> or on the basis of information obtained
            from any source, particularly from Governments, United
            Nations organs, intergovernmental and nongovernmental
            organisations. The Prosecutor shall assess the information
            received or obtained and decide whether there is sufficient
            basis to proceed.
        </li>

        <li>The Prosecutor shall have the power to question suspects,
            victims and witnesses, to collect evidence and to conduct
            on-site investigations. In carrying out these tasks, the
            Prosecutor may, as appropriate, seek the assistance of the
            State authorities concerned.
        </li>

        <li>If questioned, the suspect shall be entitled to be
            assisted by counsel of his own choice, including the right to
            have legal assistance assigned to him without payment by him
            in any such case if he does not have sufficient means to pay
            for it, as well as to necessary translation into and from a
            language he speaks and understands.
        </li>

        <li>Upon a determination that a <i>prima facie</i> case
            exists, the Prosecutor shall prepare an indictment containing
            a concise statement of the facts and the crime or crimes with
            which the accused is charged under the Statute. The
            indictment shall be transmitted to a judge of the Trial
            Chamber.
        </li>
    </ol>

    <p id="s-68" class="text-center"><b>Article 19 Review of the
            indictment</b></p>

    <ol id="s-69" type="1">
        <li>The judge of the Trial Chamber to whom the indictment has
            been transmitted shall review it. If satisfied that a
            <i>prima facie</i> case has been established by the
            Prosecutor, he shall confirm the indictment. If not so
            satisfied, the indictment shall be dismissed.
        </li>

        <li>Upon confirmation of an indictment, the judge may, at the
            request of the Prosecutor, issue such orders and warrants for
            the arrest, detention, surrender or transfer of persons, and
            any other orders as may be required for the conduct of the
            trial.
        </li>
    </ol>

    <p id="s-70" class="text-center"><b>Article 20 Commencement and conduct
            of trial proceedings</b></p>

    <ol id="s-71" type="1">
        <li>The Trial Chambers shall ensure that a trial is fair and
            expeditious and that proceedings are conducted in accordance
            with the rules of procedure and evidence, with full respect
            for the rights of the accused and due regard for the
            protection of victims and witnesses.
        </li>

        <li>A person against whom an indictment has been confirmed
            shall, pursuant to an order or an arrest warrant of the
            International Tribunal, be taken into custody, immediately
            informed of the charges against him and transferred to the
            International Tribunal.
        </li>

        <li>The Trial Chamber shall read the indictment, satisfy
            itself that the rights of the accused are respected, confirm
            that the accused understands the indictment, and instruct the
            accused to enter a plea. The Trial Chamber shall then set the
            date for trial.
        </li>

        <li>The hearings shall be public unless the Trial Chamber
            decides to close the proceedings in accordance with its rules
            of procedure and evidence.
        </li>
    </ol>

    <p id="s-72" class="text-center"><b>Article 21 Rights of the
            accused</b></p>

    <ol id="s-73" type="1">
        <li>All persons shall be equal before the International
            Tribunal.
        </li>

        <li>In the determination of charges against him, the accused
            shall be entitled to a fair and public hearing, subject to
            article 22 of the Statute.
        </li>

        <li>The accused shall be presumed innocent until proved
            guilty according to the provisions of the present
            Statute.
        </li>

        <li>In the determination of any charge against the accused
            pursuant to the present Statute, the accused shall be
            entitled to the following minimum guarantees, in full
            equality:
        </li>

        <li>
            <ol id="s-74" type="a">
                <li>to be informed promptly and in detail in a language
                    which he understands of the nature and cause of the
                    charge against him;
                </li>

                <li>to have adequate time and facilities for the
                    preparation of his defence and to communicate with
                    counsel of his own choosing;
                </li>

                <li>to be tried without undue delay;</li>

                <li>to be tried in his presence, and to defend himself in
                    person or through legal assistance of his own choosing;
                    to be informed, if he does not have legal assistance, of
                    this right; and to have legal assistance assigned to him,
                    in any case where the interests of justice so require,
                    and without payment by him in any such case if he does
                    not have sufficient means to pay for it;
                </li>

                <li>to examine, or have examined, the witnesses against
                    him and to obtain the attendance and examination of
                    witnesses on his behalf under the same conditions as
                    witnesses against him;
                </li>

                <li>to have the free assistance of an interpreter if he
                    cannot understand or speak the language used in the
                    International Tribunal;
                </li>

                <li>not to be compelled to testify against himself or to
                    confess guilt.
                </li>
            </ol>
        </li>
    </ol>

    <p id="s-75" class="text-center"><b>Article 22 Protection of victims and
            witnesses</b></p>

    <p id="s-76">The International Tribunal shall provide in its rules of
        procedure and evidence for the protection of victims and
        witnesses. Such protection measures shall include, but shall
        not be limited to, the conduct of in camera proceedings and the
        protection of the victim’s identity.</p>

    <p id="s-77" class="text-center"><b>Article 23 Judgement</b></p>

    <ol id="s-78" type="1">
        <li>The Trial Chambers shall pronounce judgements and impose
            sentences and penalties on persons convicted of serious
            violations of international humanitarian law.
        </li>

        <li>The judgement shall be rendered by a majority of the
            judges of the Trial Chamber, and shall bedelivered by the
            Trial Chamber in public. It shall be accompanied by a
            reasoned opinion in writing, to which separate or dissenting
            opinions may be appended.
        </li>
    </ol>

    <p id="s-79" class="text-center"><b>Article 24 Penalties</b></p>

    <ol id="s-80" type="1">
        <li>The penalty imposed by the Trial Chamber shall be limited
            to imprisonment. In determining the terms of imprisonment,
            the Trial Chambers shall have recourse to the general
            practice regarding prison sentences in the courts of the
            former Yugoslavia.
        </li>

        <li>In imposing the sentences, the Trial Chambers should take
            into account such factors as the gravity of the offence and
            the individual circumstances of the convicted person.
        </li>

        <li>In addition to imprisonment, the Trial Chambers may order
            the return of any property and proceeds acquired by criminal
            conduct, including by means of duress, to their rightful
            owners
        </li>
    </ol><!-- Beginn Franzi -->

    <p id="s-81" class="text-center"><b>Article 25 Appellate
            proceedings</b></p>

    <ol id="s-82" type="1">
        <li>The Appeals Chamber shall hear appeals from pers ons
            convicted by the Trial Chambers or from the Prosecutor on the
            following grounds:
        </li>

        <li>
            <ol id="s-83" type="a">
                <li>an error on a question of law invalidating the
                    decision; or
                </li>

                <li>an error of fact which has occasioned a miscarriage
                    of justice.
                </li>
            </ol>
        </li>

        <li>The Appeals Chamber may affirm, reverse or revise the
            decisions taken by the Trial Chambers.
        </li>
    </ol>

    <p id="s-84" class="text-center"><b>Article 26 Review proceedings</b></p>

    <p id="s-85">Where a new fact has been discovered which was not known at
        the time of the proceedings before the Trial Chambers or the
        Appeals Chamber and which cou ld have been a decisive factor in
        reaching the decision, the convicted person or the Prosecutor
        ma y submit to the International Tribunal an application for
        review of the judgement.</p>

    <p id="s-86" class="text-center"><b>Article 27 Enforcement of
            sentences</b></p>

    <p id="s-87">Imprisonment shall be served in a State designated by the
        International Tribunal from a list of States which have
        indicated to the Security Council their willingness to accept
        convicted persons. Such imprisonment shall be in accordance
        with the applic able law of the State concerned, subject to the
        supervision of the International Tribunal.</p>

    <p id="s-88" class="text-center"><b>Article 28 Pardon or commutation of
            sentences</b></p>

    <p id="s-89">If, pursuant to the applicable law of the State in which the
        convicted person is imprisoned, he or she is eligible for
        pardon or commutation of sentence, the State concerned shall
        notify the International Tri bunal accordingly. The President
        of the International Tri bunal, in consultation with the
        judges, shall decid e the matter on the basis of the interests
        of justice and the general principles of law.</p>

    <p id="s-90" class="text-center"><b>Article 29 Co-operation and judicial
            assistance</b></p>

    <ol id="s-91" type="1">
        <li>States shall co-operate with the International Trib unal
            in the investigation and prosecution of persons accused of
            committing serious violations of international humanitarian
            law.
        </li>

        <li>States shall comply without undue delay with any re quest
            for assistance or an order issued by a Trial Chamber,
            including, but not limited to:
        </li>

        <li>
            <ol id="s-92" type="a">
                <li>the identification and location of persons;</li>

                <li>the taking of testimony and the production of
                    evidence;
                </li>

                <li>the service of documents;</li>

                <li>the arrest or detention of persons;</li>

                <li>the surrender or the transfer of the accused to the
                    International Tribunal.
                </li>
            </ol>
        </li>
    </ol>

    <p id="s-93" class="text-center"><b>Article 30 The status, privileges and
            immunities of the International Tribunal</b></p>

    <ol id="s-94" type="1">
        <li>The Convention on the Privileges and Immunities of the
            United Nations of 13 February 1946 shall apply to the
            International Tribunal, the judg es, the Prosecutor and his
            staff, and the Registrar and his staff.
        </li>

        <li>The judges, the Prosecutor and the Registrar shall enjoy
            the privileges and immunities, exemptions and facilities
            accorded to diplomatic en voys, in accordance with
            international law.
        </li>

        <li>The staff of the Prosecutor and of the Registrar sh all
            enjoy the privileges and immunities accorded to officials of
            the United Nations under a rticles V and VII of the
            Convention referred to in paragraph 1 of this article.
        </li>

        <li>Other persons, including the accused, required at t he
            seat of the International Tribunal shall be accorded such
            treatment as is necessary for the pro per functioning of the
            International Tribunal.
        </li>
    </ol>

    <p id="s-95" class="text-center"><b>Article 31 Seat of the International
            Tribunal</b></p>

    <p id="s-96">The International Tribunal shall have its seat at The
        Hague.</p>

    <p id="s-97" class="text-center"><b>Article 32 Expenses of the
            International Tribunal</b></p>

    <p id="s-98">The expenses of the International Tribunal shall be borne by
        the regular budget of the United Nations in accordance with
        Article 17 of the Charter of the Un ited Nations.</p>

    <p id="s-99" class="text-center"><b>Article 33 Working languages</b></p>

    <p id="s-100">The working languages of the International Tribunal shall be
        English and French.</p>

    <p id="s-101" class="text-center"><b>Article 34 Annual report</b></p>

    <p id="s-102">The President of the International Tribunal shall submit an
        annual report of the International Tribunal to the Security
        Council and to the General Assembly.</p>
{% endblock %}
